In [42]:
#import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
from sklearn.model_selection import train_test_split #to split the dataset for training and testing
from sklearn.utils import shuffle
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression  # for Logistic Regression algorithm
from sklearn.neighbors import KNeighborsClassifier  # for K nearest neighbours
from sklearn.tree import DecisionTreeClassifier #for using Decision Tree Algoithm
from sklearn.metrics import accuracy_score
from sklearn import metrics #for checking the model accuracy
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [43]:
#read data file
data = pd.read_csv('HR-Employees.csv')
data.head() # will give top five rows

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [44]:
data.shape # print shape(row, column)

(1470, 35)

In [45]:
data.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [46]:
data.info()  # check the data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
Age                         1470 non-null int64
Attrition                   1470 non-null object
BusinessTravel              1470 non-null object
DailyRate                   1470 non-null int64
Department                  1470 non-null object
DistanceFromHome            1470 non-null int64
Education                   1470 non-null int64
EducationField              1470 non-null object
EmployeeCount               1470 non-null int64
EmployeeNumber              1470 non-null int64
EnvironmentSatisfaction     1470 non-null int64
Gender                      1470 non-null object
HourlyRate                  1470 non-null int64
JobInvolvement              1470 non-null int64
JobLevel                    1470 non-null int64
JobRole                     1470 non-null object
JobSatisfaction             1470 non-null int64
MaritalStatus               1470 non-null object
MonthlyIncome               1470 non-null int64
MonthlyRate                 1470 non-null int64
NumCompaniesWorked          1470 non-null int64
Over18                      1470 non-null object
OverTime                    1470 non-null object
PercentSalaryHike           1470 non-null int64
PerformanceRating           1470 non-null int64
RelationshipSatisfaction    1470 non-null int64
StandardHours               1470 non-null int64
StockOptionLevel            1470 non-null int64
TotalWorkingYears           1470 non-null int64
TrainingTimesLastYear       1470 non-null int64
WorkLifeBalance             1470 non-null int64
YearsAtCompany              1470 non-null int64
YearsInCurrentRole          1470 non-null int64
YearsSinceLastPromotion     1470 non-null int64
YearsWithCurrManager        1470 non-null int64
dtypes: int64(26), object(9)
memory usage: 402.0+ KB

In [47]:
data.isnull().values.any()  # check data has any values null/nan or not

False

In [48]:
variable_correlation = data.corr()
variable_correlation

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,0.010661,-0.001686,0.208034,NaN,-0.010145,0.010146,0.024287,0.029820,0.509604,...,0.053535,NaN,0.037510,0.680381,-0.019621,-0.021490,0.311309,0.212901,0.216513,0.202089
DailyRate,0.010661,1.000000,-0.004985,-0.016806,NaN,-0.050990,0.018355,0.023381,0.046135,0.002966,...,0.007846,NaN,0.042143,0.014515,0.002453,-0.037848,-0.034055,0.009932,-0.033229,-0.026363
DistanceFromHome,-0.001686,-0.004985,1.000000,0.021042,NaN,0.032916,-0.016075,0.031131,0.008783,0.005303,...,0.006557,NaN,0.044872,0.004628,-0.036942,-0.026556,0.009508,0.018845,0.010029,0.014406
Education,0.208034,-0.016806,0.021042,1.000000,NaN,0.042070,-0.027128,0.016775,0.042438,0.101589,...,-0.009118,NaN,0.018422,0.148280,-0.025100,0.009819,0.069114,0.060236,0.054254,0.069065
EmployeeCount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeNumber,-0.010145,-0.050990,0.032916,0.042070,NaN,1.000000,0.017621,0.035179,-0.006888,-0.018519,...,-0.069861,NaN,0.062227,-0.014365,0.023603,0.010309,-0.011240,-0.008416,-0.009019,-0.009197
EnvironmentSatisfaction,0.010146,0.018355,-0.016075,-0.027128,NaN,0.017621,1.000000,-0.049857,-0.008278,0.001212,...,0.007665,NaN,0.003432,-0.002693,-0.019359,0.027627,0.001458,0.018007,0.016194,-0.004999
HourlyRate,0.024287,0.023381,0.031131,0.016775,NaN,0.035179,-0.049857,1.000000,0.042861,-0.027853,...,0.001330,NaN,0.050263,-0.002334,-0.008548,-0.004607,-0.019582,-0.024106,-0.026716,-0.020123
JobInvolvement,0.029820,0.046135,0.008783,0.042438,NaN,-0.006888,-0.008278,0.042861,1.000000,-0.012630,...,0.034297,NaN,0.021523,-0.005533,-0.015338,-0.014617,-0.021355,0.008717,-0.024184,0.025976
JobLevel,0.509604,0.002966,0.005303,0.101589,NaN,-0.018519,0.001212,-0.027853,-0.012630,1.000000,...,0.021642,NaN,0.013984,0.782208,-0.018191,0.037818,0.534739,0.389447,0.353885,0.375281
JobSatisfaction,-0.004892,0.030571,-0.003669,-0.011296,NaN,-0.046247,-0.006784,-0.071335,-0.021476,-0.001944,...,-0.012454,NaN,0.010690,-0.020185,-0.005779,-0.019459,-0.003803,-0.002305,-0.018214,-0.027656
MonthlyIncome,0.497855,0.007707,-0.017014,0.094961,NaN,-0.014829,-0.006259,-0.015794,-0.015271,0.950300,...,0.025873,NaN,0.005408,0.772893,-0.021736,0.030683,0.514285,0.363818,0.344978,0.344079
MonthlyRate,0.028051,-0.032182,0.027473,-0.026084,NaN,0.012648,0.037600,-0.015297,-0.016322,0.039563,...,-0.004085,NaN,-0.034323,0.026442,0.001467,0.007963,-0.023655,-0.012815,0.001567,-0.036746
NumCompaniesWorked,0.299635,0.038153,-0.029251,0.126317,NaN,-0.001251,0.012594,0.022157,0.015012,0.142501,...,0.052733,NaN,0.030075,0.237639,-0.066054,-0.008366,-0.118421,-0.090754,-0.036814,-0.110319
PercentSalaryHike,0.003634,0.022704,0.040235,-0.011111,NaN,-0.012944,-0.031701,-0.009062,-0.017205,-0.034730,...,-0.040490,NaN,0.007528,-0.020608,-0.005221,-0.003280,-0.035991,-0.001520,-0.022154,-0.011985
PerformanceRating,0.001904,0.000473,0.027110,-0.024539,NaN,-0.020359,-0.029548,-0.002172,-0.029071,-0.021222,...,-0.031351,NaN,0.003506,0.006744,-0.015579,0.002572,0.003435,0.034986,0.017896,0.022827
RelationshipSatisfaction,0.053535,0.007846,0.006557,-0.009118,NaN,-0.069861,0.007665,0.001330,0.034297,0.021642,...,1.000000,NaN,-0.045952,0.024054,0.002497,0.019604,0.019367,-0.015123,0.033493,-0.000867
StandardHours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,0.037510,0.042143,0.044872,0.018422,NaN,0.062227,0.003432,0.050263,0.021523,0.013984,...,-0.045952,NaN,1.000000,0.010136,0.011274,0.004129,0.015058,0.050818,0.014352,0.024698
TotalWorkingYears,0.680381,0.014515,0.004628,0.148280,NaN,-0.014365,-0.002693,-0.002334,-0.005533,0.782208,...,0.024054,NaN,0.010136,1.000000,-0.035662,0.001008,0.628133,0.460365,0.404858,0.459188
TrainingTimesLastYear,-0.019621,0.002453,-0.036942,-0.025100,NaN,0.023603,-0.019359,-0.008548,-0.015338,-0.018191,...,0.002497,NaN,0.011274,-0.035662,1.000000,0.028072,0.003569,-0.005738,-0.002067,-0.004096
WorkLifeBalance,-0.021490,-0.037848,-0.026556,0.009819,NaN,0.010309,0.027627,-0.004607,-0.014617,0.037818,...,0.019604,NaN,0.004129,0.001008,0.028072,1.000000,0.012089,0.049856,0.008941,0.002759
YearsAtCompany,0.311309,-0.034055,0.009508,0.069114,NaN,-0.011240,0.001458,-0.019582,-0.021355,0.534739,...,0.019367,NaN,0.015058,0.628133,0.003569,0.012089,1.000000,0.758754,0.618409,0.769212
YearsInCurrentRole,0.212901,0.009932,0.018845,0.060236,NaN,-0.008416,0.018007,-0.024106,0.008717,0.389447,...,-0.015123,NaN,0.050818,0.460365,-0.005738,0.049856,0.758754,1.000000,0.548056,0.714365
YearsSinceLastPromotion,0.216513,-0.033229,0.010029,0.054254,NaN,-0.009019,0.016194,-0.026716,-0.024184,0.353885,...,0.033493,NaN,0.014352,0.404858,-0.002067,0.008941,0.618409,0.548056,1.000000,0.510224
YearsWithCurrManager,0.202089,-0.026363,0.014406,0.069065,NaN,-0.009197,-0.004999,-0.020123,0.025976,0.375281,...,-0.000867,NaN,0.024698,0.459188,-0.004096,0.002759,0.769212,0.714365,0.510224,1.000000

In [49]:
data['Attrition'].value_counts()

No     1233
Yes     237
Name: Attrition, dtype: int64

In [50]:
# drop all rows and columns with NAN
data.dropna(subset=data.columns[1:], how='all')

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
5,32,No,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,...,3,80,0,8,2,2,7,7,3,6
6,59,No,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,...,1,80,3,12,3,2,1,0,0,0
7,30,No,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,...,2,80,1,1,2,3,1,0,0,0
8,38,No,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,12,...,2,80,0,10,2,3,9,7,1,8
9,36,No,Travel_Rarely,1299,Research & Development,27,3,Medical,1,13,...,2,80,2,17,3,2,7,7,7,7
10,35,No,Travel_Rarely,809,Research & Development,16,3,Medical,1,14,...,3,80,1,6,5,3,5,4,0,3
11,29,No,Travel_Rarely,153,Research & Development,15,2,Life Sciences,1,15,...,4,80,0,10,3,3,9,5,0,8
12,31,No,Travel_Rarely,670,Research & Development,26,1,Life Sciences,1,16,...,4,80,1,5,1,2,5,2,4,3
13,34,No,Travel_Rarely,1346,Research & Development,19,2,Medical,1,18,...,3,80,1,3,2,3,2,2,1,2
14,28,Yes,Travel_Rarely,103,Research & Development,24,3,Life Sciences,1,19,...,2,80,0,6,4,3,4,2,0,3
15,29,No,Travel_Rarely,1389,Research & Development,21,4,Life Sciences,1,20,...,3,80,1,10,1,3,10,9,8,8
16,32,No,Travel_Rarely,334,Research & Development,5,2,Life Sciences,1,21,...,4,80,2,7,5,2,6,2,0,5
17,22,No,Non-Travel,1123,Research & Development,16,2,Medical,1,22,...,2,80,2,1,2,2,1,0,0,0
18,53,No,Travel_Rarely,1219,Sales,2,4,Life Sciences,1,23,...,3,80,0,31,3,3,25,8,3,7
19,38,No,Travel_Rarely,371,Research & Development,2,3,Life Sciences,1,24,...,3,80,0,6,3,3,3,2,1,2
20,24,No,Non-Travel,673,Research & Development,11,2,Other,1,26,...,4,80,1,5,5,2,4,2,1,3
21,36,Yes,Travel_Rarely,1218,Sales,9,4,Life Sciences,1,27,...,2,80,0,10,4,3,5,3,0,3
22,34,No,Travel_Rarely,419,Research & Development,7,4,Life Sciences,1,28,...,3,80,0,13,4,3,12,6,2,11
23,21,No,Travel_Rarely,391,Research & Development,15,2,Life Sciences,1,30,...,4,80,0,0,6,3,0,0,0,0
24,34,Yes,Travel_Rarely,699,Research & Development,6,1,Medical,1,31,...,3,80,0,8,2,3,4,2,1,3
25,53,No,Travel_Rarely,1282,Research & Development,5,3,Other,1,32,...,4,80,1,26,3,2,14,13,4,8
26,32,Yes,Travel_Frequently,1125,Research & Development,16,1,Life Sciences,1,33,...,2,80,0,10,5,3,10,2,6,7
27,42,No,Travel_Rarely,691,Sales,8,4,Marketing,1,35,...,4,80,1,10,2,3,9,7,4,2
28,44,No,Travel_Rarely,477,Research & Development,7,4,Medical,1,36,...,4,80,1,24,4,3,22,6,5,17
29,46,No,Travel_Rarely,705,Sales,2,4,Marketing,1,38,...,4,80,0,22,2,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,36,No,Travel_Frequently,688,Research & Development,4,2,Life Sciences,1,2025,...,2,80,3,18,3,3,4,2,0,2
1441,56,No,Non-Travel,667,Research & Development,1,4,Life Sciences,1,2026,...,1,80,1,13,2,2,13,12,1,9
1442,29,Yes,Travel_Rarely,1092,Research & Development,1,4,Medical,1,2027,...,2,80,3,4,3,4,2,2,2,2
1443,42,No,Travel_Rarely,300,Research & Development,2,3,Life Sciences,1,2031,...,1,80,0,24,2,2,22,6,4,14
1444,56,Yes,Travel_Rarely,310,Research & Development,7,2,Technical Degree,1,2032,...,4,80,1,14,4,1,10,9,9,8
1445,41,No,Travel_Rarely,582,Research & Development,28,4,Life Sciences,1,2034,...,3,80,1,21,3,3,20,7,0,10
1446,34,No,Travel_Rarely,704,Sales,28,3,Marketing,1,2035,...,4,80,2,8,2,3,8,7,1,7
1447,36,No,Non-Travel,301,Sales,15,4,Marketing,1,2036,...,1,80,1,15,4,2,15,12,11,11
1448,41,No,Travel_Rarely,930,Sales,3,3,Life Sciences,1,2037,...,3,80,1,14,5,3,5,4,0,4
1449,32,No,Travel_Rarely,529,Research & Development,2,3,Technical Degree,1,2038,...,4,80,0,4,4,3,4,2,1,2
1450,35,No,Travel_Rarely,1146,Human Resources,26,4,Life Sciences,1,2040,...,3,80,0,9,2,3,9,0,1,7
1451,38,No,Travel_Rarely,345,Sales,10,2,Life Sciences,1,2041,...,3,80,1,10,1,3,10,7,1,9
1452,50,Yes,Travel_Frequently,878,Sales,1,4,Life Sciences,1,2044,...,4,80,2,12,3,3,6,3,0,1
1453,36,No,Travel_Rarely,1120,Sales,11,4,Marketing,1,2045,...,1,80,1,8,2,2,6,3,0,0
1454,45,No,Travel_Rarely,374,Sales,20,3,Life Sciences,1,2046,...,3,80,0,8,3,3,5,3,0,1
1455,40,No,Travel_Rarely,1322,Research & Development,2,4,Life Sciences,1,2048,...,4,80,0,8,2,3,2,2,2,2
1456,35,No,Travel_Frequently,1199,Research & Development,18,4,Life Sciences,1,2049,...,4,80,2,10,2,4,10,2,0,2
1457,40,No,Travel_Rarely,1194,Research & Development,2,4,Medical,1,2051,...,2,80,3,20,2,3,5,3,0,2
1458,35,No,Travel_Rarely,287,Research & Development,1,4,Life Sciences,1,2052,...,4,80,1,4,5,3,4,3,1,1
1459,29,No,Travel_Rarely,1378,Research & Development,13,2,Other,1,2053,...,1,80,1,10,2,3,4,3,0,3
1460,29,No,Travel_Rarely,468,Research & Development,28,4,Medical,1,2054,...,2,80,0,5,3,1,5,4,0,4
1461,50,Yes,Travel_Rarely,410,Sales,28,3,Marketing,1,2055,...,2,80,1,20,3,3,3,2,2,0
1462,39,No,Travel_Rarely,722,Sales,24,1,Marketing,1,2056,...,1,80,1,21,2,2,20,9,9,6
1463,31,No,Non-Travel,325,Research & Development,5,3,Medical,1,2057,...,2,80,0,10,2,3,9,4,1,7
1464,26,No,Travel_Rarely,1167,Sales,5,3,Other,1,2060,...,4,80,0,5,2,3,4,2,0,0
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [51]:
# preprocess all data types to int
le = preprocessing.LabelEncoder()
data = data.apply(le.fit_transform)

data = shuffle(data)
X = data.drop('Attrition', axis = 1)
y = data['Attrition'].replace('No', 0).replace('Yes', 1) #labels to be predicted

data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1350,9,0,2,258,2,1,1,3,0,1350,...,1,0,0,9,5,1,8,7,0,7
911,7,1,1,317,2,23,0,1,0,911,...,3,0,0,1,4,2,1,0,1,0
522,19,0,2,704,1,9,1,1,0,522,...,0,0,0,4,2,2,1,0,0,0
45,23,1,2,795,1,11,2,5,0,45,...,3,0,0,23,0,2,22,15,15,8
1197,2,0,2,407,2,8,0,1,0,1197,...,0,0,0,2,3,2,2,2,0,2

In [66]:
# in this our main data is split into train and test
# the attribute test_size=0.3 splits the data into 70% and 30% ratio. train=70% and test=30%
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [60]:
X_train.head(2)

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
841,6,2,234,1,23,2,3,0,841,3,...,3,0,0,6,2,2,4,3,1,2
1314,27,0,310,2,1,3,1,0,1314,2,...,1,0,2,10,3,3,8,7,5,7

In [61]:
X_test.head(2)

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1155,21,2,48,1,2,1,3,0,1155,2,...,3,0,1,11,3,2,10,8,0,7
256,24,2,110,1,1,2,3,0,256,3,...,2,0,1,10,4,2,9,6,7,8

In [62]:
y_train.head(2)

841     0
1314    0
Name: Attrition, dtype: int64

In [ ]:
column_names = data.columns.tolist()
print (column_names)

In [67]:
## Logistic Regression

model = LogisticRegression()
model.fit(X_train,y_train)
prediction=model.predict(X_test)
print('The accuracy of the Logistic Regression is',metrics.accuracy_score(prediction,y_test))
print(confusion_matrix(y_test, prediction))
print(classification_report(y_test, prediction))

The accuracy of the Logistic Regression is 0.850340136054
[[233   9]
 [ 35  17]]
             precision    recall  f1-score   support

          0       0.87      0.96      0.91       242
          1       0.65      0.33      0.44        52

avg / total       0.83      0.85      0.83       294

In [69]:
# KNeighborsClassifier
model=KNeighborsClassifier(n_neighbors=5) #this examines 3 neighbours for putting the new data into a class
model.fit(X_train,y_train)
prediction=model.predict(X_test)
print('The accuracy of the KNN is',metrics.accuracy_score(prediction,y_test))
print(confusion_matrix(y_test, prediction))
print(classification_report(y_test, prediction))

The accuracy of the KNN is 0.816326530612
[[235   7]
 [ 47   5]]
             precision    recall  f1-score   support

          0       0.83      0.97      0.90       242
          1       0.42      0.10      0.16        52

avg / total       0.76      0.82      0.77       294

In [70]:
# DecisionTreeClassifier
model=DecisionTreeClassifier()
model.fit(X_train,y_train)
prediction=model.predict(X_test)
print('The accuracy of the Decision Tree is',metrics.accuracy_score(prediction,y_test))
print(confusion_matrix(y_test, prediction))
print(classification_report(y_test, prediction))

The accuracy of the Decision Tree is 0.789115646259
[[208  34]
 [ 28  24]]
             precision    recall  f1-score   support

          0       0.88      0.86      0.87       242
          1       0.41      0.46      0.44        52

avg / total       0.80      0.79      0.79       294

In [71]:
#RandomForestClassifier
model=RandomForestClassifier()
model.fit(X_train,y_train)
prediction=model.predict(X_test)
print('The accuracy of the Random Forest Classifier is',metrics.accuracy_score(prediction,y_test))
print(confusion_matrix(y_test, prediction))
print(classification_report(y_test, prediction))

The accuracy of the Random Forest Classifier is 0.836734693878
[[235   7]
 [ 41  11]]
             precision    recall  f1-score   support

          0       0.85      0.97      0.91       242
          1       0.61      0.21      0.31        52

avg / total       0.81      0.84      0.80       294

In [72]:
# feature importance
pd.DataFrame([data.columns,rand_forest.feature_importances_])

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1,0.0652008,0.0124828,0.0494922,0.0140787,0.0386831,0.0188045,0.0225651,0,0.0514088,0.0222445,...,0,0.0199416,0.0639729,0.0215632,0.019686,0.0355716,0.0227621,0.0290029,0.0337709,None

In [73]:
df = data
df = df.drop(['Attrition'],axis = 1)
X = df.values
y = data['Attrition'].values # target data

In [74]:

X = df.values
print (X)

[[  9   2 258 ...,   7   0   7]
 [  7   1 317 ...,   0   1   0]
 [ 19   2 704 ...,   0   0   0]
 ...,
 [ 20   2 205 ...,   6   5   0]
 [ 19   2 627 ...,   7  12  17]
 [ 19   2 170 ...,   3   0   8]]

In [75]:
pred  =  rand_forest.predict_proba(X)
pred

array([[ 0.9,  0.1],
       [ 0.1,  0.9],
       [ 0.9,  0.1],
       ...,
       [ 0.8,  0.2],
       [ 1. ,  0. ],
       [ 1. ,  0. ]])

In [76]:
#how many people will leave
sum(pred[:,1]==1)

19

In [77]:
#75% chance of leaving soon
df['Soon leave'] = pred[:,1]
df[df['Soon leave'] >=0.75]

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Soon leave
911,7,1,317,2,23,0,1,0,911,2,...,0,0,1,4,2,1,0,1,0,0.9
528,32,1,291,2,7,1,5,0,528,1,...,0,1,18,4,2,4,3,1,3,0.8
34,6,2,455,1,0,2,3,0,34,1,...,0,1,6,2,1,2,0,2,0,0.9
463,8,2,231,1,23,2,5,0,463,2,...,0,0,1,3,0,1,0,0,0,1.0
100,19,2,451,0,5,3,0,0,100,2,...,0,0,7,3,2,3,2,0,2,0.8
182,23,2,792,2,19,1,2,0,182,1,...,0,0,4,5,1,4,3,0,2,0.8
947,34,2,581,2,4,2,1,0,947,1,...,0,0,10,2,1,8,7,7,7,0.8
229,11,2,503,1,17,0,3,0,229,2,...,0,0,4,3,1,4,3,0,1,0.9
14,10,2,1,1,23,2,1,0,14,2,...,0,0,6,4,2,4,2,0,3,0.8
1390,10,2,830,1,16,2,5,0,1390,2,...,0,1,6,2,1,4,1,0,3,0.9
688,1,2,196,2,20,2,4,0,688,3,...,0,0,1,3,3,1,0,0,0,1.0
435,15,2,740,1,14,0,3,0,435,1,...,0,0,15,2,3,7,6,7,7,1.0
660,40,1,433,1,1,0,1,0,660,3,...,0,1,3,3,1,1,0,0,0,0.8
439,13,1,271,1,19,2,1,0,439,0,...,0,0,12,2,2,1,0,0,0,0.9
1461,32,2,191,2,27,2,2,0,1461,3,...,0,1,20,3,2,3,2,2,0,0.9
415,16,1,123,2,5,1,2,0,415,3,...,0,1,3,3,1,2,2,1,0,0.9
562,15,2,265,1,0,3,4,0,562,3,...,0,0,10,2,1,10,9,7,8,0.9
1213,5,2,199,2,6,2,1,0,1213,2,...,0,1,3,2,2,3,2,0,2,0.8
124,13,2,96,2,5,3,1,0,124,1,...,0,0,12,3,1,7,7,7,7,0.8
171,1,1,320,2,0,0,5,0,171,2,...,0,0,1,5,3,0,0,0,0,1.0
1326,14,2,194,2,1,3,2,0,1326,2,...,0,0,7,3,1,2,2,2,2,0.9
239,14,2,259,1,0,2,1,0,239,3,...,0,0,4,2,0,3,2,1,2,0.9
293,8,2,536,2,3,3,2,0,293,3,...,0,0,8,0,2,8,7,7,4,0.9
614,8,1,496,1,4,1,3,0,614,2,...,0,1,8,2,2,8,7,1,7,0.9
1068,10,1,120,1,1,1,3,0,1068,2,...,0,0,8,2,1,0,0,0,0,0.8
662,2,2,250,2,1,2,3,0,662,2,...,0,0,2,3,1,2,2,0,2,1.0
636,17,1,19,1,24,3,1,0,636,3,...,0,1,10,3,1,10,2,7,8,0.9
857,26,2,621,1,9,3,1,0,857,2,...,0,0,6,4,2,6,4,0,2,0.8
21,18,2,697,2,8,3,1,0,21,2,...,0,0,10,4,2,5,3,0,3,0.8
421,11,2,190,1,24,4,5,0,421,2,...,0,0,6,2,3,2,2,1,1,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,16,1,358,1,6,2,1,0,111,0,...,0,0,9,3,2,9,7,0,6,0.9
422,1,2,243,0,1,1,5,0,422,0,...,0,0,1,3,3,1,0,0,0,1.0
1281,17,2,128,2,26,2,1,0,1281,2,...,0,0,10,2,2,10,7,7,7,0.9
357,3,1,421,2,0,0,5,0,357,0,...,0,0,3,3,2,3,2,1,2,0.8
234,15,2,455,1,13,2,3,0,234,2,...,0,1,8,2,0,5,4,0,4,0.8
363,15,2,159,2,4,2,2,0,363,3,...,0,0,1,2,2,1,0,0,0,0.8
892,1,0,252,1,9,2,3,0,892,0,...,0,0,1,2,3,1,1,0,0,1.0
1369,10,2,873,2,12,1,2,0,1369,3,...,0,0,6,0,2,2,0,2,2,0.9
1205,14,2,727,1,1,3,1,0,1205,3,...,0,0,1,2,2,1,0,0,0,0.8
1297,8,2,515,0,19,1,3,0,1297,3,...,0,0,6,3,2,5,1,1,4,0.8
1032,21,0,313,1,1,2,1,0,1032,0,...,0,0,11,2,3,1,0,0,0,0.8
720,12,2,25,1,21,2,1,0,720,0,...,0,0,7,2,2,5,2,0,1,0.9
1204,30,1,394,2,6,1,3,0,1204,3,...,0,2,19,3,2,9,7,7,7,0.8
26,14,1,639,1,15,0,1,0,26,1,...,0,0,10,5,2,10,2,6,7,0.9
513,2,2,797,1,9,0,3,0,513,3,...,0,0,1,5,2,1,0,1,1,1.0
102,2,1,486,1,5,2,1,0,102,3,...,0,0,1,5,2,1,0,1,0,0.8
731,2,2,621,1,10,2,3,0,731,3,...,0,0,1,2,2,1,0,0,0,0.9
336,11,2,140,1,7,3,4,0,336,1,...,0,0,7,4,1,7,7,0,7,0.8
669,21,2,636,1,5,2,3,0,669,3,...,0,0,8,2,0,2,2,2,2,0.9
568,37,2,405,1,1,2,3,0,568,3,...,0,1,24,2,2,5,2,1,4,0.8
683,7,2,483,2,18,1,2,0,683,2,...,0,3,1,2,2,1,0,0,0,0.8
42,8,2,793,1,24,2,1,0,42,0,...,0,0,1,2,1,1,0,0,1,1.0
1085,13,1,290,1,2,2,1,0,1085,3,...,0,0,7,2,0,7,2,7,7,0.8
1379,9,1,781,0,21,2,0,0,1379,0,...,0,0,1,2,2,1,0,0,0,0.9
1016,13,2,68,1,7,2,1,0,1016,0,...,0,0,1,3,3,1,0,0,0,0.9
1438,5,1,343,2,8,2,2,0,1438,3,...,0,1,1,3,1,1,0,1,0,1.0
236,15,2,225,1,1,1,1,0,236,0,...,0,0,13,3,3,9,7,1,7,0.9
1012,13,1,366,2,0,3,1,0,1012,1,...,0,0,1,3,2,1,0,0,0,0.9
711,11,2,509,1,9,2,1,0,711,3,...,0,0,3,5,2,0,0,0,0,1.0
791,17,2,687,2,3,2,5,0,791,3,...,0,0,9,2,2,8,7,4,7,1.0

In [78]:
# 50% chance of leaving soon
df[df['Soon leave'] >=0.5]

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Soon leave
911,7,1,317,2,23,0,1,0,911,2,...,0,0,1,4,2,1,0,1,0,0.9
528,32,1,291,2,7,1,5,0,528,1,...,0,1,18,4,2,4,3,1,3,0.8
725,17,2,333,1,13,3,4,0,725,2,...,0,1,5,2,0,4,2,0,2,0.7
1444,38,2,134,1,6,1,5,0,1444,3,...,0,1,14,4,0,10,9,9,8,0.6
296,0,2,84,1,2,2,1,0,296,2,...,0,0,0,2,2,0,0,0,0,0.6
544,29,1,79,2,2,2,3,0,544,3,...,0,2,28,2,1,22,2,11,13,0.5
34,6,2,455,1,0,2,3,0,34,1,...,0,1,6,2,1,2,0,2,0,0.9
706,22,0,875,2,23,2,1,0,706,1,...,0,0,22,2,1,1,0,0,0,0.6
482,13,2,798,2,12,3,3,0,482,1,...,0,0,9,2,0,3,1,1,2,0.6
463,8,2,231,1,23,2,5,0,463,2,...,0,0,1,3,0,1,0,0,0,1.0
2,19,2,805,1,1,1,4,0,2,3,...,0,0,7,3,2,0,0,0,0,0.6
217,11,2,564,1,0,2,5,0,217,2,...,0,0,7,1,1,6,2,1,5,0.7
100,19,2,451,0,5,3,0,0,100,2,...,0,0,7,3,2,3,2,0,2,0.8
182,23,2,792,2,19,1,2,0,182,1,...,0,0,4,5,1,4,3,0,2,0.8
947,34,2,581,2,4,2,1,0,947,1,...,0,0,10,2,1,8,7,7,7,0.8
229,11,2,503,1,17,0,3,0,229,2,...,0,0,4,3,1,4,3,0,1,0.9
14,10,2,1,1,23,2,1,0,14,2,...,0,0,6,4,2,4,2,0,3,0.8
1390,10,2,830,1,16,2,5,0,1390,2,...,0,1,6,2,1,4,1,0,3,0.9
1136,10,2,146,1,23,2,3,0,1136,2,...,0,3,1,3,2,1,1,0,0,0.5
913,27,2,856,2,1,2,2,0,913,0,...,0,0,26,2,2,24,10,1,11,0.6
688,1,2,196,2,20,2,4,0,688,3,...,0,0,1,3,3,1,0,0,0,1.0
435,15,2,740,1,14,0,3,0,435,1,...,0,0,15,2,3,7,6,7,7,1.0
136,33,1,656,1,7,3,1,0,136,0,...,0,0,18,2,2,4,2,0,3,0.6
660,40,1,433,1,1,0,1,0,660,3,...,0,1,3,3,1,1,0,0,0,0.8
439,13,1,271,1,19,2,1,0,439,0,...,0,0,12,2,2,1,0,0,0,0.9
1461,32,2,191,2,27,2,2,0,1461,3,...,0,1,20,3,2,3,2,2,0,0.9
709,13,0,151,1,8,1,3,0,709,2,...,0,0,4,0,2,3,2,1,2,0.5
415,16,1,123,2,5,1,2,0,415,3,...,0,1,3,3,1,2,2,1,0,0.9
562,15,2,265,1,0,3,4,0,562,3,...,0,0,10,2,1,10,9,7,8,0.9
1213,5,2,199,2,6,2,1,0,1213,2,...,0,1,3,2,2,3,2,0,2,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,1,2,266,2,21,0,2,0,127,3,...,0,0,0,2,1,0,0,0,0,0.7
336,11,2,140,1,7,3,4,0,336,1,...,0,0,7,4,1,7,7,0,7,0.8
1162,17,2,412,2,9,2,3,0,1162,3,...,0,0,15,3,2,13,12,6,0,0.7
669,21,2,636,1,5,2,3,0,669,3,...,0,0,8,2,0,2,2,2,2,0.9
568,37,2,405,1,1,2,3,0,568,3,...,0,1,24,2,2,5,2,1,4,0.8
1111,35,2,324,1,1,4,5,0,1111,2,...,0,1,34,4,2,32,7,1,9,0.5
405,7,2,380,1,2,2,3,0,405,0,...,0,1,6,5,2,2,2,0,2,0.7
829,15,2,321,2,8,3,2,0,829,0,...,0,0,6,3,2,5,2,0,3,0.7
460,8,2,431,2,28,1,3,0,460,0,...,0,2,8,5,2,0,0,0,0,0.5
683,7,2,483,2,18,1,2,0,683,2,...,0,3,1,2,2,1,0,0,0,0.8
42,8,2,793,1,24,2,1,0,42,0,...,0,0,1,2,1,1,0,0,1,1.0
1058,16,2,438,2,23,3,3,0,1058,0,...,0,0,16,2,3,15,9,10,10,0.5
1036,13,1,261,1,1,2,1,0,1036,1,...,0,1,7,2,0,2,2,2,2,0.7
1085,13,1,290,1,2,2,1,0,1085,3,...,0,0,7,2,0,7,2,7,7,0.8
744,19,2,650,1,10,1,3,0,744,0,...,0,0,15,2,0,1,0,0,0,0.6
36,32,2,485,2,2,1,2,0,36,0,...,0,0,3,2,2,3,2,0,2,0.7
695,19,2,334,2,0,3,1,0,695,0,...,0,0,17,2,0,14,1,11,7,0.7
1379,9,1,781,0,21,2,0,0,1379,0,...,0,0,1,2,2,1,0,0,0,0.9
1016,13,2,68,1,7,2,1,0,1016,0,...,0,0,1,3,3,1,0,0,0,0.9
33,21,2,502,2,4,2,5,0,33,3,...,0,1,19,6,3,1,0,0,0,0.6
1083,22,2,374,1,8,3,1,0,1083,3,...,0,0,15,3,0,5,4,1,0,0.7
250,19,1,252,1,9,2,3,0,250,0,...,0,2,17,5,2,1,0,0,0,0.7
1354,38,2,662,1,23,1,1,0,1354,0,...,0,0,5,3,2,4,2,1,0,0.7
1438,5,1,343,2,8,2,2,0,1438,3,...,0,1,1,3,1,1,0,1,0,1.0
236,15,2,225,1,1,1,1,0,236,0,...,0,0,13,3,3,9,7,1,7,0.9
1012,13,1,366,2,0,3,1,0,1012,1,...,0,0,1,3,2,1,0,0,0,0.9
547,24,1,525,1,18,2,3,0,547,2,...,0,0,7,2,2,2,2,2,2,0.7
711,11,2,509,1,9,2,1,0,711,3,...,0,0,3,5,2,0,0,0,0,1.0
1279,26,1,201,1,0,1,3,0,1279,2,...,0,3,6,2,1,5,3,2,3,0.6
791,17,2,687,2,3,2,5,0,791,3,...,0,0,9,2,2,8,7,4,7,1.0

In [80]:
# 50% chance of leaving soon
df[df['Soon leave'] >=0.9]

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Soon leave
911,7,1,317,2,23,0,1,0,911,2,...,0,0,1,4,2,1,0,1,0,0.9
34,6,2,455,1,0,2,3,0,34,1,...,0,1,6,2,1,2,0,2,0,0.9
463,8,2,231,1,23,2,5,0,463,2,...,0,0,1,3,0,1,0,0,0,1.0
229,11,2,503,1,17,0,3,0,229,2,...,0,0,4,3,1,4,3,0,1,0.9
1390,10,2,830,1,16,2,5,0,1390,2,...,0,1,6,2,1,4,1,0,3,0.9
688,1,2,196,2,20,2,4,0,688,3,...,0,0,1,3,3,1,0,0,0,1.0
435,15,2,740,1,14,0,3,0,435,1,...,0,0,15,2,3,7,6,7,7,1.0
439,13,1,271,1,19,2,1,0,439,0,...,0,0,12,2,2,1,0,0,0,0.9
1461,32,2,191,2,27,2,2,0,1461,3,...,0,1,20,3,2,3,2,2,0,0.9
415,16,1,123,2,5,1,2,0,415,3,...,0,1,3,3,1,2,2,1,0,0.9
562,15,2,265,1,0,3,4,0,562,3,...,0,0,10,2,1,10,9,7,8,0.9
171,1,1,320,2,0,0,5,0,171,2,...,0,0,1,5,3,0,0,0,0,1.0
1326,14,2,194,2,1,3,2,0,1326,2,...,0,0,7,3,1,2,2,2,2,0.9
239,14,2,259,1,0,2,1,0,239,3,...,0,0,4,2,0,3,2,1,2,0.9
293,8,2,536,2,3,3,2,0,293,3,...,0,0,8,0,2,8,7,7,4,0.9
614,8,1,496,1,4,1,3,0,614,2,...,0,1,8,2,2,8,7,1,7,0.9
662,2,2,250,2,1,2,3,0,662,2,...,0,0,2,3,1,2,2,0,2,1.0
636,17,1,19,1,24,3,1,0,636,3,...,0,1,10,3,1,10,2,7,8,0.9
1007,11,1,153,1,13,0,4,0,1007,2,...,0,0,9,1,2,8,7,7,7,0.9
514,15,1,607,1,2,2,1,0,514,0,...,0,0,10,3,2,10,8,9,7,0.9
1338,12,2,533,2,8,2,3,0,1338,1,...,0,0,1,3,1,1,0,0,0,1.0
762,8,1,155,1,1,2,1,0,762,0,...,0,1,6,2,2,3,2,1,2,0.9
453,8,1,198,0,16,3,1,0,453,1,...,0,1,8,2,1,7,7,1,0,1.0
107,7,2,90,2,4,2,2,0,107,2,...,0,0,6,1,2,6,4,0,3,0.9
1375,14,1,89,1,4,1,1,0,1375,0,...,0,0,8,2,2,4,1,0,3,0.9
801,32,1,542,2,0,3,4,0,801,3,...,0,0,5,4,2,0,0,0,0,0.9
864,23,0,509,1,4,1,1,0,864,0,...,0,1,5,2,0,1,0,0,0,0.9
656,14,2,173,1,24,3,1,0,656,0,...,0,0,1,2,0,1,0,0,1,0.9
540,10,2,355,1,0,1,1,0,540,0,...,0,0,10,4,2,7,7,3,7,1.0
997,9,2,23,1,16,3,1,0,997,3,...,0,0,8,2,2,8,2,7,7,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,28,2,723,2,9,2,1,0,1333,2,...,0,3,14,2,2,8,7,0,7,0.9
1153,0,1,278,2,2,1,3,0,1153,1,...,0,0,0,2,3,0,0,0,0,0.9
849,25,2,804,2,8,2,2,0,849,0,...,0,0,7,2,1,4,3,1,3,0.9
777,3,2,779,1,9,2,1,0,777,2,...,0,0,1,6,1,1,0,1,0,0.9
366,23,1,29,2,3,2,2,0,366,0,...,0,0,8,5,2,8,7,7,7,0.9
1442,11,2,617,1,0,3,3,0,1442,0,...,0,3,4,3,3,2,2,2,2,1.0
1332,11,1,221,1,23,1,1,0,1332,3,...,0,0,1,3,1,1,0,1,0,1.0
860,4,1,725,1,2,3,1,0,860,2,...,0,1,1,5,2,0,0,0,0,0.9
327,21,2,662,2,2,1,3,0,327,3,...,0,0,12,3,1,1,0,0,0,0.9
585,5,2,715,1,5,2,1,0,585,2,...,0,2,1,2,2,0,0,0,0,0.9
317,34,2,404,1,7,3,3,0,317,2,...,0,0,11,3,1,8,2,7,7,0.9
385,12,1,224,1,3,2,5,0,385,2,...,0,0,3,4,2,1,0,0,0,1.0
111,16,1,358,1,6,2,1,0,111,0,...,0,0,9,3,2,9,7,0,6,0.9
422,1,2,243,0,1,1,5,0,422,0,...,0,0,1,3,3,1,0,0,0,1.0
1281,17,2,128,2,26,2,1,0,1281,2,...,0,0,10,2,2,10,7,7,7,0.9
892,1,0,252,1,9,2,3,0,892,0,...,0,0,1,2,3,1,1,0,0,1.0
1369,10,2,873,2,12,1,2,0,1369,3,...,0,0,6,0,2,2,0,2,2,0.9
720,12,2,25,1,21,2,1,0,720,0,...,0,0,7,2,2,5,2,0,1,0.9
26,14,1,639,1,15,0,1,0,26,1,...,0,0,10,5,2,10,2,6,7,0.9
513,2,2,797,1,9,0,3,0,513,3,...,0,0,1,5,2,1,0,1,1,1.0
731,2,2,621,1,10,2,3,0,731,3,...,0,0,1,2,2,1,0,0,0,0.9
669,21,2,636,1,5,2,3,0,669,3,...,0,0,8,2,0,2,2,2,2,0.9
42,8,2,793,1,24,2,1,0,42,0,...,0,0,1,2,1,1,0,0,1,1.0
1379,9,1,781,0,21,2,0,0,1379,0,...,0,0,1,2,2,1,0,0,0,0.9
1016,13,2,68,1,7,2,1,0,1016,0,...,0,0,1,3,3,1,0,0,0,0.9
1438,5,1,343,2,8,2,2,0,1438,3,...,0,1,1,3,1,1,0,1,0,1.0
236,15,2,225,1,1,1,1,0,236,0,...,0,0,13,3,3,9,7,1,7,0.9
1012,13,1,366,2,0,3,1,0,1012,1,...,0,0,1,3,2,1,0,0,0,0.9
711,11,2,509,1,9,2,1,0,711,3,...,0,0,3,5,2,0,0,0,0,1.0
791,17,2,687,2,3,2,5,0,791,3,...,0,0,9,2,2,8,7,4,7,1.0